.ptext {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.para { height: 500px }
.para h1{
    color:white;
}