
.pimg2{
    position:relative;
    opacity:0.90;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;

    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
}


.pimg2{
    background-image:url('../images/parallax1.jpg');
    min-height:300px;
}


.section{
    text-align:center;
    padding:10px 80px;
}

.section-light{
    background-color:#f4f4f4;
    color:#666;
}

.section-dark{
    background-color:#282e34;
    color:#ddd;
}

.ptext{
    position:absolute;
    top:30%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
}

.ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
}

.ptext .border.trans{
    background-color:transparent;
}

/*@media(max-width:568px){*/
    /*.pimg1, .pimg2, .pimg3{*/
        /*background-attachment:scroll;*/
    /*}*/
/*}*/
